@media screen  and (max-width: 615px){
    header .menu{
        display: none;
    }
    
}
@media screen  and (max-width: 742px){
.vantagens .itens-container{
flex-direction: column;

}
.vantagens .itens-container .img-itens img{
    width: 100%;
}
.vantagens .itens-container .txt-itens p{
    margin-bottom: 30px;
}
.vantagens .itens-container .txt-itens h3{
    font-size: 2em;
    line-height: 50px;
    margin-bottom: 20px;

}
.itens-container .txt-itens h3 span{
    font-weight: 400;
}
.vantagens .itens-container .item-1{
    order: 1;
}
.vantagens .itens-container .item-2{
    order: 0;
}

.txt-contato, .icons-contato{
    display: block;
    width: 100%;
    margin-right: -4px;
    vertical-align: middle;
}
.contato .txt-contato h3{
    font-size: 2em;
    line-height: 40px;
    align-items: center;   
}

.contato .txt-contato p{
    margin-bottom: 20px;

}
.contato .icons-contato a{
    text-decoration: none;

}
.contato .icons-contato button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;


    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;

    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;

    transition: .7;
}
.contato .icons-contato button i{
    font-size: 23px;
}
.contato .icons-contato button:hover{
  background-color: #000;
}
.contato .icons-contato button:hover i{
    color: #fff;
}
.contato .icons-contato button:hover i, .contato .icons-contato button:hover p{
    color: #fff;
}

}

@media screen  and (max-width: 783){
#chat-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: Arial, sans-serif;
  z-index: 1000;
}


#chat-icon {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: white;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-size: 24px;
}

#chat-icon:hover{
   background-color: #fff;
   transition: .5s;
}

#chat-box {
  width: 300px;
  border-radius: 10px 10px 0 0;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: none;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 10px;
}


#chat-header {
  background-color: #000;
  color: white;
  padding: 10px;
  position: relative;
  text-align: center;
}


#close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


#chat-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#messages {
  height: 150px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 5px;
}

button.option-btn {
  margin: 5px 0;
  padding: 5px 10px;
  width: 100%;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #000;
  color: white;
}

button.option-btn:hover {
  background-color: #0f6669;
}
    
}
